<form [formGroup]="formControl" class="editar-form" (ngSubmit)= "submit()">

    <input type="text" id="user"  formControlName="Username" />
    <input type="password" id="user"  formControlName="Password" />


    <button type="submit" class="btn btn--success">
        Guardar
    </button>

    
</form>